.pagination-container {
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  margin-top: 40px;
}

.pagination-container button {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 7px 18px;
  height: 35px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.pagination-container button:hover {
  background: #ddd;
  color: var(--primary);
}

.pagination-container .prevBtn,
.pagination-container .nextBtn {
  font-size: 18px;
  padding: 7px 10px;
}

.pagination-container button.active {
  background: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

@media only screen and (max-width: 640px) {
  .pagination-container button {
    margin: 4px;
  }
}
